# Node dependencies
**/node_modules/

# Environment files
**/.env

# Uploads
application/backend/uploads/

# Build folders
application/frontend/dist/
build/
dist/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/