# Node dependencies
**/node_modules/

# Environment files
**/.env

# Uploads
application/backend/uploads/

# Build folders
application/frontend/dist/
build/
dist/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

keys/
*.pem

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Sensitive files
*.pem
keys/
*.tfvars
!terraform/environments/dev/dev.tfvars.example
!terraform/environments/staging/staging.tfvars.example
!terraform/environments/prod/prod.tfvars.example

# Environment files
.env