project_name = "dms"
environment  = "staging"
aws_region   = "us-east-1"

vpc_cidr     = "10.0.0.0/16"
az_count     = 2

instance_type = "t2.micro"
db_username   = "admin"
db_password   = "replace_with_secret"
alert_email   = "your-email@example.com"